.todo-item {
  background-color: var(--todo-bg);

  display: flex;
  align-items: center;
  gap: 5px;

  width: 100%;
  padding: 1rem 1rem;
  
  border-radius: var(--roundness);
  transition: all .3s;

  &.hover, &:hover {
    background-color: var(--input-bg-focus);
    box-shadow: 0 0 5px var(--todo-outline);
    font-weight: bold;
  }
  
  &.done {
    opacity: 0.5;
  }

  &.deleted {
    opacity: 0;
  }
}

.todo-done {
  // filter: hue-rotate(-40deg);
}

.todo-text {
  color: var(--todo-fg);
  padding: 0 5px;
  border: 1px solid #0000;
  border-radius: var(--roundness);
  font-weight: inherit;
  flex: 1 0 auto;
  width: 0;
}

.todo-delete {
  color: var(--todo-del);
  font-size: 1.4rem;
  padding: .2rem .5rem;
  transform: scaleX(1.4);
}