#app.dark {
  --roundness: 3px;

  --todoapp-fg: #fafafa;
  --todoapp-bg: #13171f;

  --shadow-clr: #0002;
  
  --list-bg: #3d4750;

  --input-fg: #fafafa;
  --input-bg: #555f66;
  --input-bg-focus: #8b8563;
  
  --btn-fg: #000;
  --btn-bg: #fffd90;
  --btn-bg-focus: #d0e9fd;

  --todo-fg: #fafafa;
  --todo-bg: var(--input-bg);

  --todo-del: #fafafa;
  --todo-outline: transparent;

  --theme-selector-bg: #4675a1;
}