#app.dark {
  --todoapp-fg: #fafafa;
  --todoapp-bg: #333;

  --shadow-clr: #0002;
  
  --list-bg: #555;

  --input-fg: #fafafa;
  --input-bg: #666;
  --input-bg-focus: #3f474e;
  
  --btn-fg: #000;
  --btn-bg: #b7cee0;
  --btn-bg-focus: #d0e9fd;

  --todo-bg: #666;
  --todo-fg: #fafafa;
  --todo-del: #fafafa;
  --todo-outline: #0084ff85;
}