#app.light {
  --roundness: 4px;

  --todoapp-fg: #050505;
  --todoapp-bg: #fafafa;
  
  --shadow-clr: #0002;
  
  --list-bg: #fff;

  --input-fg: var(--todoapp-fg);
  --input-bg: var(--list-bg);
  --input-bg-focus: #f4faff;
  
  --btn-fg: #000;
  --btn-bg: #cef4ff;
  --btn-bg-focus: #d0eaff;
  --todo-outline: #0084ff85;

  --todo-bg: #f5f5f5;
  // --todo-fg: #fafafa;
  // --todo-del: #fafafa;
}