#app.light {
  --roundness: 4px;

  --todoapp-fg: #050505;
  --todoapp-bg: #f0f0f0;
  
  --shadow-clr: #0002;
  
  --list-bg: #fff;

  --input-fg: var(--todoapp-fg);
  --input-bg: var(--list-bg);
  --input-bg-focus: #fdf9d1;
  
  --btn-fg: #000;
  --btn-bg: #fffd90;
  --btn-bg-focus: rgb(255, 254, 199);

  --todo-fg: black;
  --todo-bg: #f0f0f0;

  --todo-del: black;
  --todo-outline: #ff3;

  --theme-selector-bg: #91c1ff;
}