select {
  padding: 1rem;
  text-transform: capitalize;
  border-radius: var(--roundness);
  transition: all .3s;

  &:hover {
    background-color: var(--todo-outline);
  }
}

option {
  background-color: var(--input-bg);
}
